@model IEnumerable<WebApplication1.Models.ViewModel.MyApiViewModel>

@{
    ViewData["Title"] = "Get";
}

<h1>Get</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastWriteTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastWriteTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.path)
                </td>
            </tr>
        }
    </tbody>
</table>
